.clients{
    text-align: center;
    margin:0;
    justify-content: center;
    height: auto;
    /* max-height:80vh; */
    max-width:100%;
    position: relative;
    justify-content: space-between;
    padding: 2rem;
}

.clients div.client-box{
    box-shadow: 0 0 70px -15px #000;
    border-radius: 15px;
    padding: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.clients img{
    transition: 600ms;
    width: 25%;
    height: auto;
    max-height: 100%;
    min-width: 70px;
}

/* @media (max-width: 768px){
    .clients img{
        width: 88%;
        height: 88%;
    }
}


@media (max-width: 576px){
    .clients img{
        width: 55%;
        height: 55%;
    }
} */

.clients img:hover{ 
    transform:scale(1.1);
}