.Preloader {
    overflow: hidden;
    height: 100vh;
}

.Preloader img {
    width: 25%;
    height: auto;
}

@media (max-width: 768px) {
    .Preloader img {
        width: 40%;
        height: auto;
    }
    .Preloader {
        overflow: hidden;
        height: 90vh;
    }
     ::-webkit-scrollbar-track {
        background: transparent !important;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: transparent !important;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: transparent !important;
    }
}