/* @import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap"); */
@font-face {
  font-family: "Raleway", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
}
.Navbar-Home {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  animation: 3s linear 3500ms forwards navAppear;
}
.Navbar .appbar {
  font-family: "Roboto Mono", monospace;
}
.Navbar .p-tag {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
}
.Navbar .hoverable {
  text-transform: capitalize;
  color: #8892b0;
}
.Navbar .hoverable a {
  text-decoration: none;
  color: #8892b0;
}
.menuItem {
  width: 20vw;
  animation: 900ms linear forwards slideIn;
}

.navIt {
  color: #00e8ff;
  text-align: center;
}

.Navbar .hoverable:hover a {
  color: #00e8ff;
}
.btn-head:hover {
  border: 1px dashed #00e8ff;
}
.btn-head:active {
  border: 1px dashed #00e8ff;
}
.Navbar .btn-head:active {
  border: 1px dashed #00e8ff;
}
.menu {
  width: "100%";
}
.Navbar .btn-head:focus {
  border: 1px dashed #00e8ff;
}

@keyframes navAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}
