.container-testimonials {
  /* min-height: 80vh; */
  height: 80vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin-top: 200px; */
  padding-top: calc(80vh / 4);
  background: transparent;
  overflow-x: hidden;
}
.container-testimonials .card-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.container-testimonials .card {
  position: relative;
  text-align: center;
  height: 320px;
  width: 350px;
  background-color: #3e4b72;
  border-radius: 78% 22% 81% 19% / 21% 80% 20% 79%;
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 30px 20px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}
.container-testimonials .card::before {
  content: "";
  position: absolute;
  height: 330px;
  width: 330px;
  top: -12px;
  /* background-color: #6b3294; */
  background-color: var(--webarch-blue);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  border-radius: 73% 27% 87% 13% / 15% 75% 25% 85%;
  z-index: -2;
}
.container-testimonials .card:nth-child(2n)::before {
  transform: rotate(5deg);
  right: -15px;
}
.container-testimonials .card:nth-child(2n + 1)::before {
  transform: rotate(-5deg);
  right: -5px;
}
.container-testimonials .card .card-image {
  position: relative;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  margin: 10px auto;
  z-index: 3;
}
.container-testimonials .card img {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  object-fit: cover;
  z-index: 10;
}
.container-testimonials .card .card-image::before {
  content: "";
  position: absolute;
  height: 95px;
  width: 95px;
  border-radius: 100%;
  /* background-color: #6b3294; */
  background-color: var(--webarch-blue);
  left: -5px;
  top: -5px;
  z-index: -1;
}
.container-testimonials .card .card-body .name h2 {
  font-size: 1.8rem;
  line-height: 1.3rem;
  font-weight: 600;
  color: white;
}
.container-testimonials .card .card-body .name p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}
.container-testimonials .card .card-body .quote {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.5);
}
.container-testimonials .flickity-button {
  width: 10px;
}

.container-testimonials .flickity-enabled {
  position: relative;
}

.container-testimonials .flickity-enabled:focus {
  outline: none;
}

.container-testimonials .flickity-viewport {
  /* overflow: hidden; */
  position: relative;
  height: 100%;
}

.container-testimonials .flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.container-testimonials .flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-testimonials .flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.container-testimonials .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.container-testimonials .flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.container-testimonials .flickity-button:hover {
  background: white;
  cursor: pointer;
}

.container-testimonials .flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.container-testimonials .flickity-button:active {
  opacity: 0.6;
}

.container-testimonials .flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  pointer-events: none;
}

.container-testimonials .flickity-button-icon {
  fill: #333;
}

/* ---- previous/next buttons ---- */

.container-testimonials .flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.container-testimonials .flickity-prev-next-button.previous {
  left: 10px;
}
.container-testimonials .flickity-prev-next-button.next {
  right: 10px;
}
/* right to left */
.container-testimonials .flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.container-testimonials .flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.container-testimonials .flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.container-testimonials .flickity-page-dots {
  display: none;
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.container-testimonials .flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.container-testimonials .flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: rgb(190, 190, 190);
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.container-testimonials .flickity-page-dots .dot.is-selected {
  opacity: 1;
  width: 12px;
  height: 12px;
}

/* media queries */

@media (max-width: 600px) {
  .container-testimonials .card {
    height: 300px;
    width: 330px;
  }
  .container-testimonials .card::before {
    height: 300px;
    width: 330px;
  }
}
