@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.Team {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
  background: var(--bg-grad);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.Team::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Team {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* SMOOTH LOADER */
.Team .smooth-img {
  transition: opacity 1s;
}
.Team .img-visible {
  opacity: 1;
}
.Team .img-hidden {
  opacity: 0;
}
.Team .team-body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding-top: 20px;
  position: relative;
  height: auto;
}

.Team .team-img{
  width: 50%;
  height: 52%;
  margin: 21.5px auto;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
}

.Team .responsive-img{
  width: 100%;
  height: 100%;
}

/* .responsive-img{
  width: 45%;
  height: auto;
  max-height: 170px;
border-radius: 50%;
} */

.Team h2 {
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: 100;
}
/* HEADER STYLES */
.Team .Header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Team .Header-text {
  font-size: 54px;
  width: 100%;
  text-align: center;
  margin: 0;
  letter-spacing: 0.2rem;
}
.Team .Header-hr{
  width: 40%;
  margin: 0;
  display: none;
}
.Team .Header-slash{
  display: none;
}
.Team p ~ .Header-text {
  font-size: 18px;
}
.Team .transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3);
 
}

.Team .three .transition {
  transition: .7s cubic-bezier(.3, 0, 0, 1.3)
}
.Team .five .transition {
  transition: .5s cubic-bezier(.3, 0, 0, 1.3);
  
}



/* --------- FIVE --------- */ 
.Team .team-page-heading{
    color: white;
    /* text-decoration: underline; */
    font-weight: 1000;
    line-height: 54px;
    margin-bottom: 0%;
    
}
.Team .best-team{
  color: grey;
}

.Team .hero {
  position: relative;
  max-width: 50rem;
  margin: 0 auto;
  top: 40%;
}

.Team .tagline {
  margin: 0;  /* h1 default margins cause vertical scrollbar */
  font-family: 'Roboto Light', sans-serif;
  font-weight: 100;
  color: #263238  ;
  font-size: 1.75em;
  line-height: 2em;
  text-align: center;
  text-shadow: 0 0 5px rgba(38, 50, 56, 0.45);  background: linear-gradient(to right, rgba(150, 200, 180, 0), rgba(150, 200, 180, 1) 20%, rgba(150, 200, 180, 1) 80%, rgba(150, 200, 180, 0));
}

@media screen and (min-width: 601px) {
    .Team .team-page-heading {
      font-size: 30px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .Team .team-page-heading {
      font-size: 25px;
    }
  }



.Team .five {
  list-style: none;
  padding: 0;
  margin: 50px 0;
}
.Team .five > li {
  /* background: #FFFFFF; */
  background: #4669a5;
  border: 1px solid rgba(150,150,150,0.29);
  -moz-box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  /* width: 250px; */
  width: 280px;
  /* height: 350px; */  
  height: 280px;
  display: inline-block;
  margin: 0 30px;
  text-align: center;
  margin-bottom: 32px;
  /* border-radius: 0 0 15px 15px; */
  border-radius: 15px;
}
/* .five > li img {
  margin-top: 43px;
} */
.Team .five > li:hover img {
  margin-top: 30px;
}
.Team .five > li img.more-about {
  left: 103px;
  padding: 1px;
  position: absolute;
  width: 45px;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  bottom: 50px;
}
.Team .five > li:hover {
  -moz-box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
  box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
}
.Team .five > li:hover span {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  top: -370px;
  /* background: #889EAF; */
  background: #aed6dc;
}
.Team .five > li:hover span p {
  color: black;
  font-size: 14px;
}
.Team .five > li span .text-wrapper {
  opacity: 0;
}
.Team .five > li:hover span .text-wrapper {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 200px;
  opacity: 1;
}
.Team .five > li:hover .social {
  margin-top: 250px;
}
.Team .five > li:hover .wrapper > .team-img {
  display: none;
}
.Team .five > li:hover h3 {
  /* color: #889EAF; */
  color: #aed6dc;
  /* margin-top: 270px; */
  margin-top: 175px;
}
.Team .five > li .wrapper {
  overflow: hidden;
  position: absolute;
  width: 280px;
  height: 290px;
  border-radius: 15px;
}
.Team .five > li span {
  display: block;
  height: 500px;
  left: -112px;
  position: absolute;
  top: -490px;
  width: 500px;
  /* background: #889EAF; */
  background: #aed6dc;
}
.Team .five .mamber-img {
  width: 100px;
}
.Team .five > li h3 em {
  display: block;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
 margin-top: 5px  ;
 /* color: #889EAF; */
 color: #fff;
}
.Team .five > li h3{
    padding-top: 13px;
    font-size: 16px;
    color: black;
}
.Team .five .social {
  list-style: none;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 10px;
}
.Team .five .social li {
  opacity: 0;
  display: inline-block;
  padding: 6px;
}
.Team .five > li:hover .social li {
  opacity: 1;
}
.Team .five .social li a {
  cursor: pointer;
  display: block;
}
.Team .five .social li a:hover {
  opacity: 0.5;
}
.Team .five .social li img {
  width: 28px;
}
.Team .five > li:hover .social li a {
  -webkit-animation: social-show 0.5s 1;
  -moz-animation: social-show 0.5s 1;
  -o-animation: social-show 0.5s 1;
  animation: social-show 0.5s 1;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
/* .five .social li img {
  width: 24px;
} */
 @-webkit-keyframes social-show {
 from {
margin-top: 140px;
}
to {
  margin-top: 0px;
}
}
 @-moz-keyframes social-show {
 from {
margin-top: 140px;
}
to {
  margin-top: 0px;
}
}
 @-o-keyframes social-show {
 from {
margin-top: 140px;
}
to {
  margin-top: 0px;
}
}
 @keyframes social-show {
 from {
margin-top: 140px;
}
to {
  margin-top: 0px;
}
}







