@import '../../index.css';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.moving-clouds {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 190%;
  height: 100%;
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
  background-image: url('http://demos.creative-tim.com/paper-kit-2/assets/img/clouds.png');
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

.logo-text {
  color: var(--webarch-blue);
  font-family: var(--font);
  font-size: 6rem;
}
