.Header {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  color: var(--webarch-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Header-text {
  margin: 0;
  margin-left: 20rem;
  padding: 0;
  font-size: 65px;
  font-family: var(--section-font);
  height: 70px;
}

.Header-hr {
  height: 10px !important;
  color: #fff;
  opacity: 1;
  /* min-width: 250px; */
  margin: 0;
  margin-left: 20rem;
}

.hr-animation {
  animation: 2s linear 1 forwards hrAnim;
}

@keyframes hrAnim {
  0% {
    width: 0;
  }

  100% {
    width: 60%;
  }
}
