.Header {
  width: 100%;
  height: 100px;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  color: var(--webarch-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Header-text {
  margin: 0;
  margin-left: 10rem;
  padding: 0;
  font-size: 65px;
  font-weight: 600;
  letter-spacing: 0.5rem;
  font-family: var(--section-font);
  height: 70px;
  font-variant: small-caps;
}

.Header-hr {
  height: 10px !important;
  color: #fff;
  opacity: 1;
  border-radius: 15px;
  /* min-width: 250px; */
  margin: 0;
  margin-left: 10rem;
}

.hr-animation {
  animation: 2s linear 1 forwards hrAnim;
}

@keyframes hrAnim {
  0% {
    width: 0;
  }

  100% {
    width: 60%;
  }
}

@media (max-width: 768px){
  .Header-text {
    font-size: 54px;
    letter-spacing: 0.2rem;
    margin: 0 auto;
  }
  .Header-slash{
    display: none;
  }
  
  .Header-hr {
    margin: 0 auto;
  }
}