.Header {
  width: 100%;
  height: 100px;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  color: var(--webarch-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Header-text {
  margin: 0;
  margin-left: 10rem;
  padding: 0;
  font-size: 65px;
  font-weight: 600;
  letter-spacing: 0.5rem;
  font-family: var(--section-font);
  height: 70px;
  font-variant: small-caps;
}

.Header-hr {
  height: 10px !important;
  color: #fff;
  opacity: 1;
  border-radius: 15px;
  /* min-width: 250px; */
  margin: 0;
  margin-left: 10rem;
}

@media (max-width: 768px){
  .Header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .Header-text {
    font-size: 54px;
    width: 100%;
    text-align: center;
    margin: 0;
    letter-spacing: 0.2rem;
  }
  .Header-hr{
    width: 40%;
    margin: 0;
  }
  .Header-slash{
    display: none;
  }
}