.contact-us *, .contact-us *::before, .contact-us *::after {
    box-sizing: border-box;
}

.contact-us{
    font-family: var(--font);
    color: white;
	height: 85vh;
    position: relative;
    box-sizing: border-box;
}

.contact{
    height: 100%;
}

.contact-us .contact .contact-height{
    height: 65%;
    position: relative;
}

.contact-us .contact .contact-height-1{
    height: 70%;
}

.contact .contact-vertical{
    border-left: 6px solid var(--webarch-blue);
    height: 75%;
    border-radius: 15px;
    position: relative;
    top: -15px;
}

.contact .contact-details-container{
    position: relative;
    height: 65%;
    margin: 30px;
    top: -13px;
}

.contact .contact-address{
    position: relative;
    height: 50%;
}

.contact .contact-details{
    position: relative;
    height: 50%;
}

.contact .contact-address .contact-address-title, .contact .contact-details .contact-details-title{
    color: var(--webarch-blue);
    font-size: 2.4rem;
    height: 25%;
}

.contact .contact-address div p{
    font-size: 1.7rem;
    margin-top: 10px;
} 

.contact .contact-details .contact-detail-effect a{
    height: 20px;
    font-size: 1.7rem;
    display: inline-block;
    transition: all 0.4s ease-in-out;
}

.contact .contact-details .contact-detail-effect a:hover{
    cursor: pointer;
    color: var(--webarch-blue);
    transform: scale(1.1);
}

.contact .contact-details .contact-detail-effect a{
    text-decoration: none;
    color: white;
}

.contact .contact-details span{
    padding: 20px 20px 20px 0px;
}

.contact .contact-height .contact-icons{
    height: 50px;
    width: 270px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    margin: 30px 0px 0px 0px;
    padding-top: 30px;
}

.contact-us .contact .contact-info .contact-icons .contact-icon-styles a{
    color: white;
    transition: all 0.3s ease-in-out;
}


.contact-us .contact .contact-info .contact-icons .contact-icon-styles a:hover{
    cursor: pointer;
    color: var(--webarch-blue);
    transform: scale(1.5);
}

.contact .contact-form-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    position: relative;
}

.contact .contact-form-layout .contact-form-title{
    font-family: var(source-code-pro);
    font-size: 25px;
    text-align: center;
    position: relative;
    bottom: 17px;
}

.contact .contact-form-layout .contact-form-content{
    width: 320px;
    height: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#292929;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    position: relative;
    bottom: 17px;
    padding: 20px;
}

.contact-us .contact .contact-form-layout .contact-form-border{
    max-height: 390px;
    height: 61vh;
    width: 61vh;
    max-width: 400px;
    padding: 15px 20px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.contact-corner-borders::before, .contact-corner-borders::after {
    border-color: var(--webarch-blue);
    border-width: 5px;
    content: "";
    display: block;
    height: 100px;
    pointer-events: none;
    position: absolute;
    width: 100px;
  }

  .contact-corner-borders--left::before, .contact-corner-borders--left::after {
    left: 0;
  }
  .contact-corner-borders--left::before {
    border-left-style: solid;
    border-top-style: solid;
    top: 0;
  }
  .contact-corner-borders--left::after {
    border-bottom-style: solid;
    border-left-style: solid;
    bottom: 0;
  }
  .contact-corner-borders--right::before, .contact-corner-borders--right::after {
    right: 0;
  }
  .contact-corner-borders--right::before {
    border-right-style: solid;
    border-top-style: solid;
    top: 0;
  }
  .contact-corner-borders--right::after {
    border-bottom-style: solid;
    border-right-style: solid;
    bottom: 0;
  }

  @media (max-width: 768px){

    .contact-us{
        height: 125vh;
    }

    .contact-us .contact .contact-height{
        height: 40%;
    }
    
    .contact-us .contact .contact-height-1{
        height: 60%;
    }

    .contact .contact-form-layout .contact-form-content{
        width: 280px;
        height: 90%;
    }

    .contact-us .contact .contact-form-layout .contact-form-border{
        max-height: 350px;
        height: 52vh;
        width: 65vh;
        max-width: 350px;
        padding: 15px 20px;
        margin: 10px;
        margin-top: 100px;
    }

    #btn{
        position: relative;
        bottom: 10px;
        height: 10rem
    }
  }

 @media (max-width: 480px){

    .contact-us{
        height: 130vh;
    }

    .contact-us .contact .contact-height{
        height: 40%;
    }
    
    .contact-us .contact .contact-height-1{
        height: 30%;
        max-height: 450px;
    }
    
    
    .contact .contact-form-layout .contact-form-content{
        width: 280px;
        height: 80%;
    }
    
    .contact-us .contact .contact-form-layout .contact-form-border{
        max-height: 410px;
        min-height: 380px;
        height: 52vh;
        width: 65vh;
        max-width: 380px;
        padding: 15px 20px;
        margin: 10px;
        margin-top: 150px;
        margin-bottom: 100px;
    }    

    .contact-corner-borders::before, .contact-corner-borders::after {
        display: none;
    }
 }