.footerContainer {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    background: var(--bg-plain);
    color: white;
    font-size: var(--font-size-small);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 2rem;
}

.illustration {
    margin-top: 2.5rem;
    text-align: center;
}

.illustration img{
    width: 96.5%;
}

.exploreContainer {
    display: flex;
    justify-content:flex-end;
    border-bottom: 2px solid #aaaaaa;
    padding-right: 10rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.explore {
    margin-right: 7rem;
}

.explore li {
    list-style: none;
    margin: 1rem 0;
}

.contact li {
    list-style: none;
    margin: 1rem 0;
}

.contact li a {
    text-decoration: none;
    color: white;
}

.contact li a i {
    margin-right: 1rem;
    /* color: #ff6347; */
    color: #6C63FF;
}

.msgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.msgContainer p {
    font-size: 1.8rem;
}

.msgContainer p i {
    color: red;
}

.iconsContainer {
    margin-top: 2rem;
    margin-left: 1rem;
}

.iconsContainer h3 {
    text-align: center;
}

.socialLinks {
    display: flex;
    justify-content: center;
}

.socialLinks li {
    list-style: none;
    margin-right:2.5rem ;
}

.socialLinks li a {
    text-decoration: none;
}

.socialLinks li a i {
    color: #fff;
    transition: all .5s ease;
}

.socialLinks .insta:hover i{
    color: #DD2A7B;
    transform: scale(1.5);
}
.socialLinks .linkedin:hover i{
    color: #0077b5;
    transform: scale(1.5);
}
.socialLinks .discord:hover i{
    color: #5865F2;
    transform: scale(1.5);
}
.socialLinks .github:hover i{
    color: #6e5494;
    transform: scale(1.5);
}

@media (max-width:1200px) {
    .exploreContainer {
        padding-right: 5rem;
    }
}

@media (max-width:850px) {
    .iconsContainer {
        margin-left: 3rem;
    }
    .socialLinks{
        flex-direction: column;
    }
    .socialLinks li {
        margin-top: 0.5rem;
    }
}

@media (max-width:760px) {
    .explore {
        display: none;
    }
    .exploreContainer {
        justify-content: center;
    }
}

@media (max-width:550px) {
    h3 {
        font-size: 2rem;
    }
    .contact li a {
        font-size: 1.7rem;
    }
    .exploreContainer {
        padding-right: 0;
    }
    .contact {
        padding-left: 0;
    }
    .msgContainer p {
        font-size: 1.8rem;
    }
} 

@media (max-width:450px) {
    .exploreContainer {
        display: none;
    }
} 